includes:
    - phpstan-baseline.neon

parameters:
    level: 5
    paths:
        - app
        - config
        - database
        - routes
    tmpDir: build/phpstan
    checkOctaneCompatibility: true
    checkModelProperties: true
    excludePaths:
        - database/factories
        - database/seeders
