includes:
    - phpstan-baseline.neon

parameters:
    level: 5
    paths:
        - app
        - config
        - database
        - routes
    tmpDir: build/phpstan
    checkOctaneCompatibility: true
    checkModelProperties: true
    excludePaths:
        - database/factories
        - database/seeders
    ignoreErrors:
        # Twitter package uses magic methods via __call
        - '#Call to an undefined (static )?method Atymic\\Twitter\\(Facade\\Twitter|Twitter)::(getRequestToken|getAuthenticateUrl|getAccessToken|getCredentials|uploadMedia|postTweet|destroyTweet)\(\)#'
